alabaster==0.7.12
autoflake==1.4
Babel==2.9.1
black==21.9b0
certifi==2021.5.30
charset-normalizer==2.0.5
click==7.1.2
colorama==0.4.4
com2ann==0.3.0
docutils==0.17.1
Flask==2.0.1
Flask-WTF==0.15.1
idna==3.2
imagesize==1.2.0
isort==5.9.3
itsdangerous==2.0.1
Jinja2==3.0.1
libcst==0.3.20
MarkupSafe==2.0.1
mypy-extensions==0.4.3
numpydoc==1.1.0
packaging==21.0
pathspec==0.9.0
platformdirs==2.3.0
pybetter==0.3.7
pyemojify==0.2.0
pyflakes==2.3.1
Pygments==2.10.0
pyparsing==2.4.7
pytz==2021.1
pyupgrade==2.26.0
PyYAML==5.4.1
regex==2021.8.28
requests==2.26.0
shed==0.3.10
snowballstemmer==2.1.0
Sphinx==4.2.0
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==2.0.0
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.5
terminusdb-client==10.0.5
teyit==0.3.2
tokenize-rt==4.1.0
tomli==1.2.1
tqdm==4.62.2
typeguard==2.12.1
typing-extensions==3.10.0.2
typing-inspect==0.7.1
urllib3==1.26.6
Werkzeug==2.0.1
WTForms==2.3.3
