{% extends 'base.html' %}

{% block content %}

<section class="hero is-medium" style="background: url('../static/assets/placeholder_berserk.jpg') center/cover no-repeat fixed">
  {% for game in games %}
  <div class="hero-body has-text-white">
    <p class="title is-2 has-text-white-ter">
      {{ game['label'] }}
    </p>
    <p class="subtitle is-4 has-text-white-ter">
      Publisher: {{ publisher['name'] }} 
    </p>
    <br>
    <p class="is-size-5">
      Genre: {{ game['genre'] }} 
    </p>
    <p class="is-size-5">
      Release Year: {{ game['year'] }}
    </p>
    <p class="is-size-5">
      Platform: {{ game['platform'] }}
    </p>
  </div>
  {% endfor %}
</section>
{#
<section class="section is-medium">
  {% if reviews.length < 1 %}
    <div class="container">
      <div class="">No reviews yet. Why not write one?</div>
      <a href="{{ url_for('add_review', game_id=game['@id']) }}" class="button">
        <span class="material-icons-outlined">
          add_circle
        </span>
        Add A Review
      </a>
    </div>

  {% else %}
    {% for review in reviews %}
    INsert MORE here #}
</section>

{% endblock %}
