{% extends "base.html" %}

{% block content %}
	<p>Hello World!</p>
	{% for doc in documents %}

	<div class="card">
	  <div class="card-content">
	    <div class="media">
	      <div class="media-content">
		      <p class="title is-4">{{ doc.name }}</p>
		      <p class="subtitle is-6">{{ doc.email }}</p>
	      </div>
	    </div>

	    <div class="content">
	      Lorem ipsum dolor sit amet, consectetur adipiscing elit.
	      Phasellus nec iaculis mauris. <br>
	    </div>
	  </div>
	</div>

	{% endfor %}

{% endblock content %}
