{% extends "base.html" %}
{% block content %}
	<p>Hello World!</p>
	

	<div class="card">
	  <div class="card-content">
	    <div class="media">
	      <div class="media-content">
          <p class="title is-4">{{ documents.name }}</p>
          <p class="subtitle is-6">{{ documents.label }}</p>
	      </div>
	    </div>

	    <div class="content">
	      Lorem ipsum dolor sit amet, consectetur adipiscing elit.
	      Phasellus nec iaculis mauris. <br>
	    </div>
	  </div>
	</div>


{% endblock content %}
