{% extends 'base.html' %}

{% block content %}
  <section class="hero is-success is-fullheight">
    <div class="hero-body">
      <div class="container has-text-centered">
        <div class="column is-4 is-offset-4">
          <h3 class="title has-text-black is-uppercase">Review this Game</h3>
          <hr class="login-hr">
          <div class="box">
            <form method="post" action={{ url_for('add_review', game_name=game.name) }}>
              {{ form.hidden_tag() }}
              {{ form.csrf_token }}
              <label for="title" class="has-text-black">Review Title</label>
              <div class="field">
                <div class="control">
                  {{ form.title(size=32) }}
                  {% for error in form.title.errors%}
                  <span class="has-text-danger">{{ error }}</span>
                  {% endfor %}
                </div>
              </div>
              <div>
                <span class="has-text-black has-text-weight-semibold">Game Title: </span>
                <span class="has-text-black">{{ game.label }}</span>
              </div>
              <br />
              <label for="review" class="has-text-black">Review:</label>
              <div class="field">
                <div class="control">
                  {{ form.review_text(size=32) }}
                  {% for error in form.review_text.errors %}
                  <span class="has-text-danger">{{ error }}</span>
                  {% endfor %}
                </div>
              </div>
              <div class="field">
                <div class="control">
                  {{ form.submit }}
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>

{% endblock %}
