<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma-carousel@4.0.3/dist/css/bulma-carousel.min.css">
  <link rel="stylesheet" href="../static/css/style.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <script src="https://use.fontawesome.com/641d9d9e38.js"></script>

	{% block styles %}
	{% endblock %}
  {% if title %}
  <title> Played It | {{ title }} </title>
  {% else %}
  <title>Should I Play This?</title>
  {% endif %}
</head>
<body>
	<header>
		<nav class="navbar" role="navigation" aria-label="main navigation">
		  <div class="navbar-brand">
			  <a class="navbar-item" href="{{url_for('main')}}" aria-label="Icon. Click for Main Page.">
			    <img src="{{ url_for('static', filename='assets/arcade.png')}}" alt="Joystick Icon by Freepik from flaticon.com" width="56" height="28">
		    </a>

		    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
		      <span aria-hidden="true"></span>
		      <span aria-hidden="true"></span>
		      <span aria-hidden="true"></span>
		    </a>
		  </div>

		<div id="navbarBasicExample" class="navbar-menu">
			<div class="navbar-start">
        <a href="{{ url_for('main') }}" class="navbar-item">
				Home
				</a>
        {% if session['username'] %}
        <a href={{ url_for('profile', username=session['username']) }} class="navbar-item">
				Profile
				</a>
        {% else %}

        {% endif %}
        <a href={{ url_for('games') }} class="navbar-item">
          Browse Games
        </a>

      </div>

			<div class="navbar-end">
				<div class="navbar-item">
          {% if session['username'] %}
            <div>Welcome, {{session['username']}}</div>
          {% else %}
            <div>You are not logged in.</div>
          {% endif %}
        </div>
          {% if session['username'] %}
          <div class="navbar-item">
            <div class="buttons">
              <a href="{{ url_for('logout') }}" class="button is-primary">
                Logout
              </a>
            </div>
          </div>
          {% else %}
        <div class="navbar-item">
          <div class="buttons">
            <a href="{{ url_for('register') }}" class="button is-primary">
            <strong>Sign up</strong>
            </a>
            <a href="{{ url_for('login') }}" class="button is-light">
            Log in
            </a>
          </div>
        </div>
          {% endif %}
      </div>
    </div>
	</nav>

	</header>
  <main>

    <article class="message is-primary flash-container">
    {% with messages = get_flashed_messages() %}
    {% if messages %}
      <div class="message-body">
        <ul class="flashes">
          {% for message in messages %}
          <li>{{ message }}</li>
          {% endfor %}
        </ul>
    </div>
    {% endif %}
    {% endwith %}
  </article>
    
      {% block content %}
      {% endblock content %}
  </main>
	<script src="{{url_for('static', filename='js/script.js')}}"></script>
  <script src="~bulma-carousel/dist/js/bulma-carousel.min.js"></script>
	{% block script %}
	{% endblock script %}

	<footer>
		<div class="footer">
			<div class="content has-text-centered">Joystick Icon made by <a href="https://www.freepik.com" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>
      <div class="content has-text-centered">Main Page Hero Image Photo by <a href="https://unsplash.com/@ingvar_erik?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Igor Karimov</a> on <a href="https://unsplash.com/s/photos/video-game?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a></div>

		</div>
	</footer>
</body>
</html>
