{% extends 'base.html' %}

{% block content %}

  <div class="section has-background-dark">
    <div class="container">
      <div class="section">
        <div class="columns">
          <div class="column has-text-centered">
            <h1 class="title" style="color: ghostwhite;">Browse Game Collection</h1><br>
            <a href={{ url_for('add_game', username=session['username'] ) }} class="button is-link">Add a Game</a> 
          </div>
        </div>
        <div id="app" class="row columns is-multiline">
          {% for game in games %}
          <div class="column is-4">
            <div class="card large">
              <div class="card-image">
                <figure class="image is-16by9">
                  <img src="../static/assets/placeholder_berserk.jpg" alt="Image">
                </figure>
              </div>
              <div class="card-content">
                <div class="media">
                  <div class="media-content">
                    <p class="title is-4 no-padding"><a class='is-underlined' href={{ url_for('game_page', game_name=game.name) }}>{{game['label']}}</a></p>
                    <p class="subtitle is-6">{{game.publisher}}</p>
                    <p class="subtitle is-6">{{ game['genre'] }}
                  </div>
                </div>
                <div class="content">

                  {% if game.reviews %}
                    {% for review in game.reviews %}
                    <span><i class="fa fa-quote-right fa-4x" aria-hidden="true"></i></span>
                    <span class="has-text-weight-semibold"><a href="{{ url_for('review', review_id=review['review_id']) }}">{{ review['review_title'] }}</a></span>
                    <p><em>{{ review['review_author'] }}</em></p>
                      <p>{{ review['review_text'] }}</p>
                      <p>{{ review['review_pub_date'] }}
                    {% endfor %}
                  {% else %}
                    <p>No Reviews Yet. Why not write one?</p>
                  {% endif %}
                  <div class="background-icon"><span class="icon-twitter"></span></div>
                </div>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
    
{% endblock %}
