{% extends 'base.html' %}
  {% block content %}
    <section class="hero is-success is-fullheight">
        <div class="hero-body">
            <div class="container has-text-centered">
                <div class="column is-4 is-offset-4">
                    <h3 class="title has-text-black">Login</h3>
                    <hr class="login-hr">
                    <div class="box">
                      <form method="POST" action="{{ url_for('login') }}">
                        {{ form.hidden_tag() }}
                        <label for="email" class="has-black-text">Email</label>
                        <div class="field">
                          <div class="control">
                            {{ form.email(size=32) }}
                            {% for error in form.email.errors %}
                            <span class="has-text-danger">{{ error }}</span>
                            {% endfor %}
                          </div>
                        </div>
                        <label for="password" class="has-text-black">Password</label>
                        <div class="field">
                          <div class="control">
                            {{ form.password(size=32) }}
                            {% for error in form.password.errors %}
                            <span class="has-text-danger">{{ error }}</span>
                            {% endfor %}
                          </div>
                        </div>
                        <div class="field">
                          <div class="control">
                            {{ form.remember_me() }} {{ form.remember_me.label }}
                          </div>
                        </div>
                        <div class="control">
                          {{ form.submit() }}
                        </div>
                      </form>
                    </div>
                    <p class="has-text-grey">
                    <a href="{{ url_for('register') }}">Sign Up</a> &nbsp;·&nbsp;
                    </p>
                </div>
            </div>
        </div>
    </section>
  {% endblock %}
  

