{% extends 'base.html' %}
{% block content %}
<div class="section">
  <div class="tabs is-centered">
    <ul>
      <li class="tab-item"><a class="tab-link" href={{ url_for('profile', username=user.name) }} >
          {% if session['username'] == user.name %}
          My Profile
          {% else %}
          {{ user.name }}'s Profile
          {% endif %}
        </a>
      </li>
      <li class="tab-item"><a class="tab-link" href= {{ url_for('user_games', username=user.name) }} >
          {% if session['username'] == user.name %}
          My Games
          {% else %}
          {{ user.name }}'s Games
          {{ endif }}
        </a>
      </li>
      <li class="is-active tab-item"><a class="tab-link" href={{ url_for('user_reviews', username=user.name }}>
          {% if session['username'] == user.name %}
          My Reviews
          {% else %}
          {{ user.name }}'s Reviews
          {{ endif }}
        </a>
      </li>
    </ul>
  </div>
</div>

{# user_reviews #}
<section class="section has-background-info">
  <div class="subtitle is-3 is-underlined has-text-white-ter">My Reviews</div>
  <div class="container">
    <!-- Start Carousel -->
    <div id="carousel-demo" class="carousel" data-loop="true">
      {% for review in user.reviews %}
      <div class="item-{{ loop.index }}">
        <!-- Slide Content -->
        <div class="tile is-ancestor">
          <div class="tile is-parent">
            <div class="tile is-child box">
              <p class="title is-4">{{ review['review_author'] }}</p>
              <p class="content">{{ review['review_text'] }}</p>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    <!-- End Carousel -->
  </div>
  <br>
  <br>
  <a href={# {{ url_for('add_review', username=session['username']) }#}} class="button is-link">Add a Review</a>
</section>

{% endblock %}

