{% extends 'base.html' %}
{% block content %}
<div class="section">
  <div class="tabs is-centered">
    <ul>
      <li class="tab-item"><a class="tab-link" href={{ url_for('profile', username=user.name) }} >
          {% if session['username'] == user.name %}
          My Profile
          {% else %}
          {{ user.name }}'s Profile
          {% endif %}
        </a>
      </li>
      <li class="tab-item"><a class="tab-link" href= {{ url_for('user_games', username=user.name) }} >
          {% if session['username'] == user.name %}
          My Games
          {% else %}
          {{ user.name }}'s Games
          {% endif %}
        </a>
      </li>
      <li class="is-active tab-item"><a class="tab-link" href={{ url_for('user_reviews', username=user.name) }}>
          {% if session['username'] == user.name %}
          My Reviews
          {% else %}
          {{ user.name }}'s Reviews
          {% endif %}
        </a>
      </li>
    </ul>
  </div>
</div>

{# user_reviews #}
<section class="section has-background-info">
  <div class="subtitle is-3 is-underlined has-text-white-ter">My Reviews</div>
  <div class="container">
    <div class="row columns is-multiline" >
      {% for review in user.reviews %}
      <div class='column is-4'>
        <div class="card">
          <div class="card-content">
              <p class="subtitle is-5">
                {{ review['review_text'] }}
              </p>
              <p class="subtitle is-6">
              <a href={{ url_for('profile', username=review["review_author"]) }}>{{ review["review_author"] }}</a>
              </p>
            </div>
          <footer class="card-footer">
            {% if session['username'] %}
              {% if user.name == review["review_author"] %}
            <p class="card-footer-item">
              <span>
                <a href={{ url_for('edit_review', review_id=review['review_id']) }}>Edit This Review</a>
              </span>
            </p>
            {% else %}
            <p class="card-footer-item">
              <span>
                <a href={{ url_for('add_review', game_name=game.name) }}><button class="button">Write a review</button></a>
              </span>
            </p>
            {% endif %}
            {% endif %}
            <p class="card-footer-item">
              <span>
                <a href={{ url_for('review', review_id=review['review_id']) }}>Go to Review Page</a>
              </span>
            </p>
          </footer>
        </div>
      </div>
      {% endfor %}
  </div>
</div>
  <br>
  <br>
  <a href= {{ url_for('add_user_review', username=session['username']) }} class="button is-link">Add a Review</a>
</section>

{% endblock %}

