{% extends 'base.html' %}

{% block content %}
<div class="section">
  <div class="tabs is-centered">
    <ul>
      <li class="tab-item"><a class="tab-link" href={{ url_for('profile', username=user.name) }} >
          {% if session['username'] == user.name %}
          My Profile
          {% else %}
          {{ user.name }}'s Profile
          {% endif %}
        </a>
      </li>
      <li class="is-active tab-item"><a class="tab-link" href= {{ url_for('user_games', username=user.name) }} >
          {% if session['username'] == user.name %}
          My Games
          {% else %}
          {{ user.name }}'s Games
          {{ endif }}
        </a>
      </li>
      <li class="tab-item"><a class="tab-link" href={{ url_for('user_reviews', username=user.name }}>
          {% if session['username'] == user.name %}
          My Reviews
          {% else %}
          {{ user.name }}'s Reviews
          {{ endif }}
        </a>
      </li>
    </ul>
  </div>
</div>

<div class="container">
  <div class="section">
    <div class="columns">
      <div class="column has-text-centered">
        <h1 class="title" style="color: black;">My Games</h1><br>
      </div>
    </div>
    <div id="app" class="row columns is-multiline">
      {% for game in user.game_list %}
        <div class="card large">
          <div class="card-image">
            <figure class="image is-16by9">
              <img src="{{ url_for('static', filename= '../static/assets/placeholder_berserk.jpg') }}" alt="PlaceHolder Image: Black Knight with sword by the Moon">
            </figure>
          </div>
          <div class="card-content">
            <div class="media">
              <div class="media-content">
                <p class="title is-4 no-padding"><a href={{ url_for('game_page', game_name=game['game_name']) }}>{{game['game_label']}}</a></p>
                <p>
                  {{ game['game_platform'] }}
                  </p>
                <p class="subtitle is-6">{{game['platform']}}</p>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>

{% endblock %}


